<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated meta -->
      <package
            uri="http://tacet.teco.edu"
            class="edu.teco.tacet.meta.MetaPackage"
            genModel="meta.genmodel"/>
   </extension>

</plugin>
